@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

/* General styling */

* {
    margin: 0 auto;
    font-family: 'Henny Penny';
    text-align: center;
    letter-spacing: 1px;
    color: #110a01;
    text-shadow:0 4px 8px #110a017d;
}

body {
    background-image: url(../images/style-image/B1-background.webp);
   background-size: cover;
    background-repeat: no-repeat;

    height: 99vh;
  
  
    background-color: #654F39;



}

/* Styling for header  */
img {
    height: 80px;
}

header {
    background-color: rgba(213, 183, 106, 0.674);
    margin: 51px 68px 20px 90px;
    border-radius: 20px;

 
    
}

h1 {
    font-size: 4em; 
}

/* General styling for main section */
#main-div {

    background-color: rgba(213, 183, 106, 0.72);
    width:80vh;
    height: 75vh;
    
}

/* Styling for about-game content */
#about-game {
    height: 65vh;
    width: 80vh;
    background: url(../images/style-image/hogwarts-express-1024-x-1024-wallpaper-ogmyhgftuu9bzzke.webp)
        no-repeat center /cover;
    position:relative;   
    
}

#about-game-text {
    background-color: #b6e6f687;
    height:40vh;
    top:21vh;
    position: absolute;
    
    
}

#about-game-text p { 
    margin:1vh;
    font-size: 1.2em;
    
}
#about-game-text h2 {
    font-size:1.9em;
}

#question {
    font-size: 1.5em;
    border-color: #3f2306;
    border-radius: 25px;

}

#question-image {
    height:30vh;
    margin-top:1vh;
    box-shadow: 0 4px 8px darkslategray;
 
 }
 

/* general styling for the answer bottons */
/* general styling for the answer bottons */
/* general styling for the answer bottons */
/* general styling for the answer bottons */
.button {
    font-size: 1.4em;
    width: 50%;
    padding: 6px;
    margin: 8px;
    display: inline-block;
    background-color: #8e6339fa;
    border: 1px solid #3f2306;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 20px;
    overflow: visible;
    transition: all 0.5s;
}

.correct {
    background:green;
}

.incorrect {
    background: red;
}


/* styling to make this buttom pop out from the answer buttons */
/* styling to make this buttom pop out from the answer buttons */
.start-button,
.next-button,
.rules-button,
.again-button,
.timer-score {
    font-size: 1.3em;
    padding: 9px;
    margin: 10px;
    width: 40%;
    background-color: rgb(191, 130, 8);
    box-shadow: 0 2px 4px darkslategray;
    border: 1px ridge #3f2306;
    border-radius: 20px;
    transition: all 0.5s;

}

.timer-score,
.next-button {
    margin:1px;
    padding:1px;
    width: 30%;
}

/* styling  a hover effect when mouseover */
.botton:hover,
.start-button:hover,
.next-button:hover,
.rules-button:hover {
    background-color:  #653d18f0;;

}

/* Removes the hover effect when user select a answer */
.button.answered {
    pointer-events: none;
}



.hide {
    display: none;
}


/* The Modal  */

.modal {
    display:none;
    /* Sit on top */
    position: fixed;
    margin-left: 20%;
    padding-bottom: 2%;
    top: 3%;
    width: 50%;
    /* Full width */
    height: 80%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #755d48;

}


/* Modal Content Box */
.modal-content {
    margin-top: 10%;
    padding: 2%;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: black;
    float: inline-end;
    font-size: 25px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: rgba(0, 0, 0, 0.639);
    text-decoration: none;
    cursor: pointer;
}

/* This link sets the stylign for the curser taken from Start https://www.cursors-4u.com */
* {
    cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
}