@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

/* General styling */

* {
    margin: 0 auto;
    font-family: 'Henny Penny';
    text-align: center;
    letter-spacing: 1.5px;
    color: #110a01;
    text-shadow: 0 4px 8px #110a017d;
}

body {
    background-image: url(../images/s-image/B1-background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #654F39;
    height: 98vh;
    width:80vh;



}

header {
    background-color: rgba(213, 183, 106, 0.46);
    margin: 20px 0px 20px 0px;
    border-radius: 20px;



}

header img {
    height: 10vh;

 
}

h1 {
    font-size: 3em;
}

/* General styling for main section */
#main-div {
    border-radius: 20px;
    background-color: rgba(213, 183, 106, 0.46);
    height: 70vh;
    width: 70vh;


}

/* Styling for about-game content */
#about-game {
    background-image: url(../images/s-image/i.webp);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 60vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

#about-game-text {
    background-color: #b6e6f6b8;
    width: 55vh;
    height: 35vh;
    top: 41vh;
    border-radius: 20px;
    margin-left: 2vh;
    position: absolute;


}

#about-game-text p {
    font-size: 0.9em;

}

#about-game-text h2 {
    font-size: 1.3em;
}

#question-image {
    border-radius: 10px;
    height: 25vh;
    box-shadow: 0 4px 8px darkslategray;

}


#question {
    font-size: 1.3em;
    margin: auto;
    padding: 1vh;
    border-color: #3f2306;


}

/* general styling for the answer bottons */
/* general styling for the answer bottons */
/* general styling for the answer bottons */
/* general styling for the answer bottons */
.button {
    font-size: 1em;
    width: 70%;
    padding: 6px;
    margin: 5px;
    display: inline-block;
    overflow: visible;
    background-color: #8e6339fa;
    border: 1px solid #3f2306;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 20px;
    transition: all 0.5s;

}

.correct {
    background: green;
}

.incorrect {
    background: red;
}


/* styling to make this buttom pop out from the answer buttons */
/* styling to make this buttom pop out from the answer buttons */
.start-button,
.next-button,
.rules-button,
.again-button,
.timer-score {
    font-size: 1.3em;
    padding: 5px;
    margin: 5px;
    width: 45%;
    margin-top: 2vh;
    background-color: rgb(191, 130, 8);
    box-shadow: 0 2px 4px darkslategray;
    border: 1px ridge #3f2306;
    border-radius: 20px;
    transition: all 0.5s;

}

.timer-score,
.next-button {
    font-size: 1.2em;
    margin-top: 1vh;
    padding: 1px;
    width: 30%;
}

/* styling  a hover effect when mouseover */
.botton:hover,
.start-button:hover,
.next-button:hover,
.rules-button:hover {
    background-color: #653d18f0;
    ;

}

/* Removes the hover effect when user select a answer */
.button.answered {
    pointer-events: none;
}



.hide {
    display: none;
}


/* The Modal  */

.modal {
    display: none;
    position: fixed;
    margin-left: 14%;
    padding-bottom: 2%;
    top: 3%;
    width: 50vh;
    height: 70%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #755d48;

}


/* Modal Content Box */

.modal-content {
    margin-top: 10%;
    padding: 2%;
    border: 1px solid #888;
    width: 50%;
}

#rules-image {
    width: 100%;
    height: 40vh;


}

/* The Close Button */
.close {
    color: black;
    float: inline-end;
    font-size: 25px;
    font-weight: bold;


}

.close:hover,
.close:focus {
    color: rgba(0, 0, 0, 0.639);
    text-decoration: none;
    cursor: pointer;
}

/*responsiveness for smaller screens */
@media screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 130vh;
    }

    header {
        margin-top: 2vh;
        width: 55vh;
        margin-left: 1.1%;

    }

    header img {
        height: 5.5vh;
    }

    h1 {
        font-size: 2em;
    }

    #main-div {
        height: 70vh;
        width: 50vh;
        margin-left: 3vh;



    }

    #about-game {
        height: 55vh;

    }

    #about-game-text {
        width: 45vh;
        top: 30vh;
        height: vh;
    }

    #about-game-text p {

        font-size: 0.6em;
    }

    #about-game-text h2 {
        font-size: 0.8em;
    }

    #question {
        font-size: 1em;

    }

    #question-image {
        height: 18vh;
    }

    .button {
        font-size: 1em;
        width: 80%;
      

    }

    .start-button,
    .next-button,
    .rules-button,
    .again-button,
    .timer-score {
        font-size: 1em;
    }

    .timer-score,
    .next-button {
        font-size: 1em;
        width: 40%;
    }
    .modal {
        height: 65%;
        width: 40vh;
        margin-left: 14%;
    }
    #rules-image {
        height: 30vh;
    }

}





/* This link sets the stylign for the curser taken from Start https://www.cursors-4u.com */
* {
    cursor: url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
}