 
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');


* {
    font-family: 'Henny Penny';
    text-align: center;

}
body {
    background-image:url(../images/pexels-rdne-stock-project-7978061.webp);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-color:#654F39;
    min-height:100vh;
    
}
/* Styling for header  */
img {
    height:80px;    
}
header  {
    background-color:rgba(213, 183, 106, 0.674);
    margin-left:15%;
    border-radius:25px;
    width:70%;

     
}

#main-div {
    background-color: rgba(213, 183, 106, 0.674);
    width: 70%;
    margin-left:11%;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 25px;
 

}
 
#about-game {
    border-style: double;
    border-color: #3f2306;
    border-radius: 25px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    padding: 15px;
   
}
/* general styling for the answer bottons */
.button {
    font-size: 14px;
    width: 60%;
    padding: 12px;
    margin: 10px;
    display: inline-block;
    background-color:#654f39c0;
    border: 1px solid  #3f2306;;
    border-radius: 20px;
    overflow: visible;
    cursor: pointer;
    transition: all 0.5s;
}
 /* styling  a hover effect when mouseover */
.button:hover {
    background-color:rgb(192, 130, 8);
    color: white;
    cursor: pointer;
}

/* Styling start, next, try-again and timer-score buttons to make them pop out from the answer buttons */
.start-button,
.next-button, 
.rules-button,
.try-again-button,
.timer-score {
    font-size: 20px;
    font-size: 14px;
    width: 120px;
    padding: 12px;
    margin: 10px;
    background-color:#8a5939;
    border: 1px solid  #3f2306;;
    color: white;
    border-radius: 20px;
    transition: all 0.5s;

}
 /* styling  a hover effect when mouseover */
.start-button:hover,
.next-button:hover,
.rules-button:hover,
.try-again-button:hover,
.timer-score:hover { 
    background-color:rgb(192, 130, 8);
    color: white;
}

/* This link sets the stylign for the curser taken from Start https://www.cursors-4u.com */
* {cursor:url(https://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;}